.detail img {
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.detail .detail__title,
.detail .detail__year {
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.detail .detail__title {
    margin-top: 50px;
    margin-bottom: 5px;
    color: #2c2c2c;
}

.detail .detail__director, .detail__actor, .detail__rating {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.detail .more_info {
    padding: 0 10%;
    font-size: 24px;
}

.detail .detail__year {
    font-size: 20px;
}
