.input_div {
    margin-top: 200px;
    text-align: center;
}

.input_search {
    display: inline-block;
    height: auto;
    line-height: normal;
    padding: .8em .5em;
    font-family: inherit;
    border: 1px solid #999;
    outline-style: none;
    width: 20em;
}

.input_submit_button {
    height: auto;
    line-height: normal;
    padding: .65em .5em;
    margin-left: 5px;
}