.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

@keyframes ldio-5mhk44i8zo3 {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.44,1.44);
    }

    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1,1);
    }
}

.ldio-5mhk44i8zo3 div > div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #93dbe9;
    animation: ldio-5mhk44i8zo3 1s linear infinite;
}

.ldio-5mhk44i8zo3 div:nth-child(1) > div {
    left: 148px;
    top: 90px;
    animation-delay: -0.875s;
}

.ldio-5mhk44i8zo3 > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 158px 100px;
}

.ldio-5mhk44i8zo3 div:nth-child(2) > div {
    left: 131px;
    top: 131px;
    animation-delay: -0.75s;
}

.ldio-5mhk44i8zo3 > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 141px 141px;
}

.ldio-5mhk44i8zo3 div:nth-child(3) > div {
    left: 90px;
    top: 148px;
    animation-delay: -0.625s;
}

.ldio-5mhk44i8zo3 > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 100px 158px;
}

.ldio-5mhk44i8zo3 div:nth-child(4) > div {
    left: 49px;
    top: 131px;
    animation-delay: -0.5s;
}

.ldio-5mhk44i8zo3 > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 59px 141px;
}

.ldio-5mhk44i8zo3 div:nth-child(5) > div {
    left: 32px;
    top: 90px;
    animation-delay: -0.375s;
}

.ldio-5mhk44i8zo3 > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 42px 100px;
}

.ldio-5mhk44i8zo3 div:nth-child(6) > div {
    left: 49px;
    top: 49px;
    animation-delay: -0.25s;
}

.ldio-5mhk44i8zo3 > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 59px 59px;
}

.ldio-5mhk44i8zo3 div:nth-child(7) > div {
    left: 90px;
    top: 32px;
    animation-delay: -0.125s;
}

.ldio-5mhk44i8zo3 > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 100px 42px;
}

.ldio-5mhk44i8zo3 div:nth-child(8) > div {
    left: 131px;
    top: 49px;
    animation-delay: 0s;
}

.ldio-5mhk44i8zo3 > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 141px 59px;
}

.loadingio-spinner-spin-8vfsm2ltrnr {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-5mhk44i8zo3 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

    .ldio-5mhk44i8zo3 div {
        box-sizing: content-box;
    }
/* generated by https://loading.io/ */
