.input_div {
    margin-top: 200px;
    text-align: center;
}

#search-head {
    font-weight: 300;
}

.search_bar {
    border: 1px solid #000000;
    width: 300px;
    margin: auto;
    display: flex;
    justify-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.input_search {
    display: inline-block;
    height: auto;
    line-height: normal;
    padding: .8em .5em;
    font-family: inherit;
    border: none;
    outline-style: none;
    width: 20em;
}

.input_submit_button {
    height: auto;
    line-height: normal;
    padding: .8em 19px;
    border: none;
    outline: none;
    background-color: #ffffff;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
