.input_div {
    opacity: 0;
    margin-top: 150px;
    text-align: center;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-name: showing-search;
    animation-fill-mode: forwards;
}

@keyframes showing-search {
    from {
        margin-left: 30px;
    }
    to {
       opacity: 1;
       margin-left: 0px;
    }
}

#search-head {
    font-weight: 300;
}

.search_bar {
    border: 1px solid #000000;
    width: 300px;
    margin: auto;
    display: flex;
    justify-items: center;
    border-radius: 10px;
    overflow: hidden;

}

.input_search {
    display: inline-block;
    height: auto;
    line-height: normal;
    padding: .3em .5em;
    font-family: inherit;
    border: none;
    outline-style: none;
    font-size: 20px;
    width: 20em;
}

.input_submit_button {
    height: auto;
    line-height: normal;
    padding: .8em 19px;
    border: none;
    outline: none;
    background-color: #ffffff;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
