* {
    box-sizing: border-box;
}

@font-face {
    font-family: "미생체";
    src: url("./SDMiSaeng.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: "미생체",-apple-system, BlinkMaxSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #eff3f7;
    height: 100%;
}
